@import "../../../media-queries.scss";

.container {
  display: grid;

  justify-content: stretch;
  align-content: stretch;

  height: 100vh;
  width: 100vw;

  @include mobile {
    grid-template-rows: auto max-content;

    .nav {
      grid-row: 2/3;
    }

    .main {
      grid-row: 1/2;
    }
  }

  @include desktop {
    grid-template-columns: [first] max-content [line2] auto [end];
    .nav {
      grid-column: 1/2;
    }

    .main {
      grid-column: 2/3;
    }
  }
}
