<div class="container">
  <button mat-flat-button color="primary" class="menu-item" routerLink="/planner" routerLinkActive="active">Planner</button>
  <button mat-flat-button color="primary" class="menu-item" routerLink="/recipes">Recipes</button>
  <button mat-flat-button color="primary" class="menu-item" routerLink="/ingredients">Ingredients</button>
  <button mat-flat-button color="primary" class="menu-item" routerLink="/test">Test</button>
  
  <button mat-flat-button color="primary" class="menu-item last" (click)="logout()">Logout</button>
</div>




